/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.head-image img{
  width: 80em;
  
}

.text-on-image img{
width: 709px;
}
.head-text {
  position: relative;
}
.text-on-image {
 position: absolute;
 right: 50%;
 left: 20%;
 bottom: 15%;
}

.button-div button{
  padding:8px 20px 8px 20px;
  background-color: lightcoral;
  color:white;
  border: 0px;
  
}

.button-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondImg{
  width: 973px;
  position: absolute;
  top: 10%;
}

second-div{
  display:flex;
  justify-content: center;
  align-items:center;
  position: relative;
}